.about-content {
    padding: 60px 15px;
    background-color: $secondary-color;
    color: $white;
    border-top: 4px solid $accent-color-1;

    @include breakpoint($breakpoint-mobile) {
        padding: 60px 50px;
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        flex: 1;
        flex-basis: 50%;
        margin-bottom: auto;

        @include breakpoint($breakpoint-tablet) {
            text-align: initial;
        }
    }

    @include breakpoint($breakpoint-tablet) {
        justify-content: space-between;
        flex-direction: row;
    }
}

.about-content-title {
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($breakpoint-tablet) {
        font-size: 45px;
    }
}

.about-secondary-text {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    font-style: italic;
}

.about-text-accent {
    font-style: italic;
}

.about-tile {
    @include breakpoint($breakpoint-desktop) {
    }
}

.about-divider {
    margin: 40px 0;
    border-top: 2px dotted $white;
    max-width: 200px;
    width: 100%;

    @include breakpoint($breakpoint-tablet) {
        margin: 0 40px;
        height: 160px;
        width: 1px;
        border-right: 2px dotted $white;
        border-top: none;
    }
}
