body {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background-color: $accent-color-2;
    color: $black;
}

.content {
    padding-top: $header-height;
}

.content-section {
    background-color: $content-background-color;
}

/*
font-family: 'Arima Madurai', cursive;
font-family: 'Ewert', cursive;
font-family: 'Quattrocento', serif;
font-family: 'Francois One', sans-serif;
font-family: 'Lato', sans-serif;

*/
